body {
  background: #FFFFFF;
  font: 14px/20px "Source Sans Pro", Arial, Helvetica, sans-serif;
  color: #333333;
  padding: 0;
  margin: 0; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #333333; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }
  a:focus {
    color: #333333; }
  a:hover {
    color: #C5A46D; }

input, textarea, select {
  font: 14px/20px "Source Sans Pro", Arial, Helvetica, sans-serif; }
  input:focus, textarea:focus, select:focus {
    border-color: #C5A46D;
    outline: none !important; }

#shortcode-form {
  position: relative;
  padding: 20px; }
  #shortcode-form .hide {
    display: none; }
  #shortcode-form input[type="text"], #shortcode-form input[type="email"], #shortcode-form input[type="tel"], #shortcode-form input[type="url"], #shortcode-form input[type="number"], #shortcode-form textarea, #shortcode-form select {
    border: 1px solid #cccccc;
    background: #FFFFFF;
    height: 30px;
    padding: 0 10px;
    min-width: 220px;
    font: 14px/20px "Source Sans Pro", Arial, Helvetica, sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #shortcode-form input[type="number"] {
    width: 70px;
    min-width: 0; }
  #shortcode-form .rows {
    margin: 0 0 10px; }
    #shortcode-form .rows:last-child {
      margin-bottom: 0; }
  #shortcode-form textarea {
    padding: 10px;
    height: 150px; }
  #shortcode-form .button-container {
    position: absolute;
    right: 20px;
    top: 20px;
    text-align: center; }
    #shortcode-form .button-container input[type="submit"] {
      background: #C5A46D;
      color: #FFFFFF;
      border: 1px solid #C5A46D;
      padding: 5px 20px;
      font-size: 13px;
      cursor: pointer;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      #shortcode-form .button-container input[type="submit"]:hover {
        background: #FFFFFF;
        color: #C5A46D; }
  #shortcode-form label {
    color: #000000;
    margin-right: 10px;
    display: inline-block;
    min-width: 90px;
    text-align: right;
    vertical-align: top;
    line-height: 28px; }
  #shortcode-form .no-attributes {
    text-align: center;
    color: #C5A46D;
    background: rgba(197, 164, 109, 0.15);
    padding: 20px; }
  #shortcode-form .hint {
    margin-left: 104px;
    line-height: 35px;
    font-size: .9em;
    color: #999999; }
